    <aside  {{bind-attr class="showReset:topcoat-overlay:hidden"}}>
        <h1>Reset Authentification Secret ?</h1>
        <div class="topcoat-overlay-buttons">
            <button role="button" class="topcoat-button" {{action 'toggleResetOverlay'}}>No</button>
            <button role="button" class="topcoat-button--cta" {{action 'reset' this}}>Yes</button>
        </div>
</aside>
{{#if isLoaded}}
    <div>{{#linkTo "mobileApps"}}Applications{{/linkTo}} > {{#linkTo "variants" this}}Variants{{/linkTo}} > Variant</div>
    <section>
        <h2>{{ name }}</h2>
        <span>{{ description }}</span>
        <br>
        {{#if isAndroid }}
        <span>{{ googleProjectNumber }}</span>
        {{/if}}
    </section>
    <section>
            <h3>Registering installations</h3>
            <span>
                Use this <i>Variant ID</i> and <i>Secret</i> combination to register an installation to this variant.
            </span>
            <div>
                Variant ID: {{input type="text" disabled="true" class="rcue-code" valueBinding="variantID"}}
                <br>
                Secret: {{input type="text" class="rcue-code secret" valueBinding="secret" disabled="true"}} <a href="#" {{ action "toggleResetOverlay" this}}>Renew...</a>
            </div>
    </section>
    <section>
        {{ partial "variant/variantDetail" }}
    </section>
{{else}}
    loading....
{{/if}}

