{{#if isLoaded}}
    <div>{{#linkTo "mobileApps"}}Push Applications{{/linkTo}} > {{#linkTo "variants" this}}Variants{{/linkTo}} > Variant</div>
    <section>
        <h2>{{ name }}</h2>
        <span>{{ description }}</span>
    </section>
    <section>
            <h3>Authentication Info</h3>
            <span>
                Use this Variant ID and Secret combination in your mobile client SDK to register your mobile installation with the UnifiedPush Server
            </span>
            <div>
                Variant ID: <span class="rcue-code">{{ variantID }}</span>
                <br>
                Secret: <span class="rcue-code">{{ secret }}</span>
            </div>
    </section>
    <section>
        {{ partial "variant/variantDetail" }}
    </section>
{{else}}
    loading....
{{/if}}
