<div>{{#linkTo "mobileApps"}}Applications{{/linkTo}} > {{#linkTo "variants" this}}Variants{{/linkTo}} > {{#linkTo "variant" this}}Variant{{/linkTo}}</div>
<section>
<a href="#" {{ action "toggleNative" this}}>{{vType}}</a> | <a href="#" {{ action "toggleCordova" this}}>Cordova</a> |<a href="#">Download Client SDK </a>
</section>

<section {{bind-attr class="showNative:codeContainer:hidden"}}>

{{#if isAndroid}}
 {{ partial "variant/android" }}
{{/if}}
{{#if isiOS}}
 {{ partial "variant/ios" }}
{{/if}}
{{#if isSimplePush}}
 {{ partial "variant/sps" }}
{{/if}}

</section>

<section {{bind-attr class="showCordova:codeContainer:hidden"}} >
{{partial "variant/cordova" }}
</section>
