<h3>Choose A Network:</h3>
<section>
    <label>
        <input type="radio" checked name="platform" value="android">
        Google Cloud Messaging
    </label>
    <div class="network-help"><a href="http://aerogear.org/docs/guides/aerogear-push-ios/" target="_blank">AeroGear Help</a></div>
    <div class="network">
        <label>Google API Key</label>
        {{input type="text" value=googleKey classNames="topcoat-text-input" classNameBindings="validationErrors.googleKey:error"}}
    </div>
</section>
<section>
    <label>
        <input type="radio" name="platform" value="iOS">
        Apple Push Network
    </label>
    <div class="network-help"><a href="http://aerogear.org/docs/guides/aerogear-push-ios/" target="_blank">AeroGear Help</a></div>
    <div class="network">
        <label>Passphrase</label>
        {{input type="password" name="passphrase" value=passphrase classNames="topcoat-text-input" classNameBindings="validationErrors.passphrase:error"}}
        <br>
        <label>Certificate</label>
        {{input type="file" name="certificate"}}
        <br>
        <label>Production</label>
        {{view Ember.Checkbox checkedBinding="production"}}
    </div>
</section>
<section>
    <label>
        <input type="radio" name="platform" value="simplePush">
        Simple Push Server
    </label>
    <div class="network-help"><a href="http://aerogear.org/docs/guides/aerogear-push-ios/" target="_blank">AeroGear Help</a></div>
    <div class="network">
        <label>Web</label>
        {{input type="text" value=pushNetworkURL classNames="topcoat-text-input" classNameBindings="validationErrors.pushNetworkURL:error"}}
    </div>
</section>
