{{#if isAndroid}}
<div>
    <label>
        Google Key
    </label>
    {{input type="text" name="googleKey" value=googleKey}}
</div>
{{/if}}
{{#if isiOS}}
<div>
    <label>
        iOS PassPhrase
    </label>
    {{input type="password" name="passphrase" value=passphrase}}
    {{input type="file" name="certificate" value=certificate}}
    <label>Production? {{view Ember.Checkbox checkedBinding="production"}}</label>
</div>
{{/if}}
{{#if isSimplePush}}
<div>
    <label>
        Web
    </label>
    {{input type="text" name="pushNetworkURL" value=pushNetworkURL}}
</div>
{{/if}}
