<h3>Current Network:</h3>
{{#if isAndroid}}
<section>
    <label>
        Google Key
    </label>
    <div class="network-help"><a href="http://aerogear.org/docs/guides/aerogear-push-android/" target="_blank">AeroGear Help</a></div>
    {{input type="text" name="googleKey" valueBinding="googleKey" classNames="topcoat-text-input" classNameBindings="validationErrors.googleKey:error"}}
    <br>
    <label>
        Project Number
    </label>
    {{input type="text" name="projectNumber" valueBinding="projectNumber" classNames="topcoat-text-input" }}
</section>
{{/if}}
{{#if isChromePackagedApp}}
<section>
    <div class="network-help"><a href="http://aerogear.org/docs/guides/aerogear-push-ios/" target="_blank">AeroGear Help</a></div>
        <label>Client ID</label>
        {{input type="text" name="clientId" valueBinding="clientId" classNames="topcoat-text-input" classNameBindings="validationErrors.clientId:error"}}
        <br>
        <label>Client Secret</label>
        {{input type="text" name="clientSecret" valueBinding="clientSecret" classNames="topcoat-text-input" classNameBindings="validationErrors.clientSecret:error"}}
        <br>
        <label>Refresh Token</label>
        {{input type="text" name="refreshToken" valueBinding="refreshToken" classNames="topcoat-text-input" classNameBindings="validationErrors.refreshToken:error"}}
</section>
{{/if}}
{{#if isiOS}}
<section>
    <label>
        iOS PassPhrase
    </label>
    <div class="network-help"><a href="http://aerogear.org/docs/guides/aerogear-push-ios/" target="_blank">AeroGear Help</a></div>
    {{input type="password" name="passphrase" valueBinding="passphrase" classNames="topcoat-text-input" classNameBindings="validationErrors.passphrase:error"}}
    <br>
    <label>Certificate</label>
    {{input type="file" name="certificate" }}
    <br>
    <label>Production</label>
    {{view Ember.Checkbox checkedBinding="production"}}
</section>
{{/if}}
{{#if isSimplePush}}
<section>
    <label>
        SimplePush
    </label>
    <div class="network-help"><a href="http://aerogear.org/docs/guides/aerogear-push-js/" target="_blank">AeroGear Help</a></div>
</section>
{{/if}}
