<div>{{#linkTo "mobileApps"}}&larr; Back to Applications{{/linkTo}}</div>
<section>
        <h2>
       Audience
        </h2>
       <span>Send To :{{view Ember.Select
                             content=options
                             value=selectedOption
                      }}
</section>

<section {{bind-attr class="showCondition:test:hidden"}}>
Installation must match  :
<table id="criterias">
  <tbody>
      {{#each App.tableController}}
    <tr>
        <td>
        {{view Ember.Select
             content=criteria
             value=selectedCriteria
         }}
         </td>
         <td>
        {{input type="text" class="criteriaInput" name="answers" valueBinding="answers" placeholder="provide values separated by commas" }}
         </td>
         <td>
            <a href="#" {{ action "remove" this}}>Remove...</a>
         </td>
     </tr>
      {{/each}}
    </tbody>
</table>
<div class="topcoat-button" {{action 'addCriteria'}}>Add Criteria ...</div>
</section>
<section>
     <h2>
      Compose Message
     </h2>
     <div>
       {{textarea class="composer" type="text" value=testMessage}}
     </div>
     <div>
     <br>
      <button role="button" class="topcoat-button--cta" {{action 'sendMessage' this}}>Send Push Message</button>
     </div>
</section>