{{headAppTitle name}}
<aside  {{bind-attr class="showReset:topcoat-overlay:hidden"}}>
        <h1>Renew Master Secret</h1>
        <p>This means that you can no longer use this Master Secret to send push notifications to installations. A new Master Secret will be created for you. You may want to do this for security reasons.</p>
        <p>Are you sure you want to renew the Master Secret?</p>
        <div class="topcoat-overlay-buttons">
            <button role="button" class="topcoat-button--cta" {{action 'resetMaster' this}}>Renew Master Secret</button>
            <button role="button" class="topcoat-button" {{action 'toggleResetOverlay'}}>Cancel</button>
        </div>
</aside>
<div>{{#linkTo "mobileApps"}}&larr; Back to Applications{{/linkTo}}</div>

<section>
        <h2>Application:
            <strong>&ldquo;{{ name }}&rdquo;</strong>
        </h2>
        <span>{{ description }}</span>
</section>

<section>
        <h3>Sending push notifications</h3>
        <span>
            Use this <i>Application ID</i> and <i>Master Secret</i> combination to send push notifications to registered installations.
        </span>
        <div>
            Application ID:   {{input type="text" disabled="true" class="rcue-code" valueBinding="pushApplicationID"}}<br>
            Master Secret:    {{input type="text" class="rcue-code" valueBinding="masterSecret" disabled="true"}}  <a href="#" {{ action "toggleResetOverlay" this}}>Renew...</a>
        </div>
</section>

<section>
    <h3>Variants</h3>
    {{#if isLoaded}}
        {{ partial "variants/variantsDetail" }}
    {{else}}
        loading....
    {{/if}}
</section>

