<div>{{#linkTo "mobileApps"}}Push Applications{{/linkTo}} > Variants</div>
<div class="header">
    <h2>{{ name }}</h2>
    <span>{{ description }}</span>
</div>
<div class="sub-header">
    <h3>Authentication Info</h3>
    <span>
        Use this Application ID and Secret combination to send notification to all variants
    </span>
    <div>
        Application ID: {{ pushApplicationID }}
        <br>
        MasterSecret: {{ masterSecret }}
    </div>
</div>
{{#if isLoaded}}
    {{#linkTo "variants.add"}}Add New{{/linkTo}}
    {{ partial "variants/variantsDetail" }}
{{else}}
    loading....
{{/if}}
