<div>{{#linkTo "mobileApps"}}&larr; Back to Push Applications{{/linkTo}}</div>

<section>
        <h2>Application:
            <strong>&ldquo;{{ name }}&rdquo;</strong>
        </h2>
        <span>{{ description }}</span>
</section>

<section>
        <h3>Authentication Info</h3>
        <span>
            Use this Application ID and Master Secret combination to send push notification
        </span>
        <!--Make this look better -->
        <div>
            Application ID: <span class="rcue-code">{{ pushApplicationID }}</span>
            <br>
            Master Secret: <span class="rcue-code">{{ masterSecret }}</span>
        </div>
</section>

<section>
    {{#if isLoaded}}
        {{ partial "variants/variantsDetail" }}
    {{else}}
        loading....
    {{/if}}
</section>
