<aside  {{bind-attr class="showReset:topcoat-overlay:hidden"}}>
        <h1>Reset Authentification Secret ?</h1>
        <div class="topcoat-overlay-buttons">
            <button role="button" class="topcoat-button" {{action 'toggleResetOverlay'}}>No</button>
            <button role="button" class="topcoat-button--cta" {{action 'resetMaster' this}}>Yes</button>
        </div>
</aside>
<div>{{#linkTo "mobileApps"}}&larr; Back to Applications{{/linkTo}}</div>

<section>
        <h2>Application:
            <strong>&ldquo;{{ name }}&rdquo;</strong>
        </h2>
        <span>{{ description }}</span>
</section>

<section>
        <h3>Authentication Info</h3>
        <span>
            Use this Application ID and Master Secret combination to send push notifications
        </span>
        <!--Make this look better -->
        <div>
            Application ID:   {{input type="text" disabled="true" class="rcue-code" valueBinding="pushApplicationID"}}
            <br>
            Master Secret:    {{input type="text" class="rcue-code" valueBinding="masterSecret" disabled="true"}}  <a href="#" {{ action "toggleResetOverlay" this}}>Renew...</a>
        </div>
</section>

<section>
    <h3>Variants</h3>
    {{#if isLoaded}}
        {{ partial "variants/variantsDetail" }}
    {{else}}
        loading....
    {{/if}}
</section>

