<!-- The Mobile Applications List Partial-->
{{headAppsTitle totalApps  }}
<strong>Applications </strong>({{ totalApps }})
    <table class="rcue-table">
        <thead>
            <tr>
                <th colspan="5">
                    {{#linkTo "mobileApps.edit"}}<div class="table-create-btn topcoat-button">Create...</div>{{/linkTo}}
                </th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th class="rcue-table-number">Variants</th>
                <th colspan="2">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {{#each controller}}
                <tr>
                    <td>{{#linkTo "variants" this}}{{ name }}{{/linkTo}}</td>
                    <td><span>{{ description }}<span></td>
                    <td class="rcue-table-number">{{ totalVariants }}</td>
                    <td class="action">
                        {{#linkTo "mobileApps.edit" this}}Rename...{{/linkTo}}
                    </td>
                    <td class="action">
                        <a href="#" {{ action "remove" this}}>Remove...</a>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="5">Your applications will show up here, please create one first.</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
