
<!--Template to create/edit a push application-->
<div class="rcue-dialog">
  <header>
    <h1>
      {{#if pushApplicationID}}
          {{headEditAppTitle name 'Rename'}}
          Rename Application
      {{else}}
          {{headEditAppTitle "Application" 'Create'}}
          Create Application
      {{/if}}
    </h1>
  </header>
  <div class="rcue-dialog-inner">
     <form {{action "edit" controller target="controllers.mobileAppsIndex" on="submit" }}>
     <fieldset>
       <p>
         <label>Name</label>
         {{input type="text" placeholder="e.g. MyApp" valueBinding="name" classNames="name topcoat-text-input" classNameBindings="validationErrors.name:error"}}
       </p>
       <p>
         <label>Description</label>
         {{textarea placeholder="e.g. My new application." valueBinding="description" classNames="topcoat-textarea description"}}
       </p>
       <span class="buttonBar">
       <input type="reset" class="topcoat-button reset" value="Cancel" {{ action "cancel" controller target="controllers.mobileAppsIndex"}}>
        {{#if pushApplicationID}}
          <input type="submit" class="topcoat-button" value="Rename">
        {{else}}
          <input type="submit" class="topcoat-button" value="Create">
        {{/if}}
        </span>
     </fieldset>
     </form>
  </div>
</div>
