<!-- The Mobile Applications List Partial-->
<div id="mobile-application-variant-table">
    <table class="table table-zebra">
        <thead>
            <tr>
                <th>#</th>
                <th>Alias</th>
                <th>Category</th>
                <th>Description</th>
                <th>Platform</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>{{ alias }}</td>
                <td>{{ category }}</td>
                <td>{{ deviceType }}</td>
                <td>{{ mobileOperatingSystem }}</td>
                 <td>{{ enabled }}</td>
            </tr>
        </tbody>
    </table>
</div>
