{{#if isLoaded}}
    <div>{{#linkTo "mobileApps"}}Push Applications{{/linkTo}} > {{#linkTo "variants" this}}Variants{{/linkTo}} > {{#linkTo "variant" this}}Installations{{/linkTo}} > Installation</div>
    <div class="header">
        <h2>{{ name }}</h2>
        <span>{{ description }}</span>
    </div>
    <div class="sub-header">
        <h3>Installation</h3>
        <span>
            An Installation
        </span>
        <div>
            Device Token: {{ deviceToken }}
        </div>
    </div>
    {{ partial "instance/variantInstanceDetail" }}
{{else}}
    loading....
{{/if}}
