<!-- The Mobile Applications Template -->
<aside  {{bind-attr class="showDelete:topcoat-overlay:hidden"}}>
        <h1>Remove <strong>" {{ content.appToDelete.name }} "</strong></h1>
        <p>Are you ABSOLUTELY sure ?</p>
        <p>Please type in the name of the Application to confirm.</p>
        <p>{{input type="text" placeholder="Application Name" valueBinding="confirmAppName" classNames="name topcoat-text-input" }}</p>
        <div class="topcoat-overlay-buttons">
            <button role="button" class="topcoat-button--cta" {{action 'remove' }} {{bindAttr disabled="disableDeleteButton"}}>Remove</button>
            <button role="button" class="topcoat-button" {{action 'toggleDeleteOverlay'}}>Cancel</button>
        </div>
</aside>
<div class="message">
    <p>The UnifiedPush Server provides you with a simple <strong>unified way to send push notifications</strong> to apps that run <strong>on different mobile platforms</strong>. Supported push networks include <strong>Apple Push Notification Service</strong>, <strong>Google Cloud Messaging</strong> and <strong>SimplePush</strong>.</p><br>
</div>
<div>
    <section>
        {{partial "mobileApps/appsList"}}
    </section>
</div>
