<!--The Login Page Template-->
<div class="content rcue-dialog">
  <header>
    <h1>
      Login
    </h1>
  </header>
{{#if loginIn}}
  <div class="rcue-dialog-inner">
    {{#if relog}}
      <h3>Please Re-Login</h3>
    {{/if}}
      <form id="login" {{action login on="submit"}}>
        <fieldset>
          <p>
            <label>Username</label>
            {{ input type="text" valueBinding="loginName" placeholder="Username" classNames="topcoat-text-input" classNameBindings="validationErrors.loginName:error"}}
          </p>
          <p>
            <label>Password</label>
            {{ input type="password" valueBinding="password" placeholder="Password" classNames="topcoat-text-input" classNameBindings="validationErrors.password:error"}}
          </p>
          <button class="topcoat-button">Log In</button>
        </fieldset>
      </form>
  </div>
{{else}}
  <div class="rcue-dialog-inner">
    <h3>You must change your password</h3>
    <form id="other" {{action other on="submit"}}>
      <fieldset>
        <p>
          <label>Password</label>
          {{ input type="password" valueBinding="password" placeholder="New Password" classNames="topcoat-text-input"
          classNameBindings="validationErrors.password:error"}}
        </p>
        <button class="topcoat-button">Save</button>
      </fieldset>
    </form>
  </div>
{{/if}}
</div>
